.button {

    -fx-background-radius: 15;
    -fx-font-weight: bold;
    -fx-font-size: 13;
    -fx-text-fill: #7d97f4;


}

.button:hover {
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(134, 139, 142, 0.1), 50, 0.15, 20, 20);
}

.button.active {
    -fx-text-fill: #ffffff;
}

.button .icon {
    -fx-fill: #7d97f4;
    -fx-font-family: 'jdFontAwesome';
    -fx-font-size: 22;
}

.button.active .icon, .button:hover .icon {
    -fx-fill: #ffffff;

    -fx-font-size: 22;
}



.button:pressed {
    -fx-effect: dropshadow(gaussian, rgba(134, 139, 142, 0.2), 50, 0.15, 0, 10);
}

#navbg {
    -fx-background-color: #ffffff;
}

.button:pressed {
    -fx-border-width: none;
    -fx-border-insets: none;
}