/*
    Blue: #3F4CF3
    d-blue: #3841DC
    f-blue: #4054F5
    Gray: #f8f8fb

    *TEXT:
    Dark: #2C343A
    Gray: #7F8FA4
    l-gray: #E6E9F0

 */




@font-face {
    src: url('../fonts/Ubuntu-Bold.ttf');
}

@font-face {
    src: url('../fonts/Ubuntu-Light.ttf');
}

@font-face {
    src: url('../fonts/Ubuntu-Regular.ttf');
}

* {

    -fx-label-padding: 0;
    -fx-text-overrun: clip;
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: #2C343A;
    -fx-focus-color: transparent;
}

.root {
    -fx-font-weight: normal;
}

.scroll-pane, .scroll-pane:focused, .button:focused, .text-field:focused, .button:pressed {
    -fx-box-border: transparent;
    -fx-faint-focus-color: transparent;
}

.button:pressed {
    -fx-border-width: 0;
}

.content {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
    -fx-padding: 25;
}

.pageContent .title {
    -fx-font-size: 32;
    -fx-font-weight: lighter;
}

.text-field {
    -fx-border-width: 1;
    -fx-border-color: #E6E9F0;
    -fx-border-radius: 5;
    -fx-font-size: 16;
    -fx-text-fill: #7F8FA4;
    -fx-background-color: #ffffff;
}


.text-field:focused, .combo-box:focused {
    -fx-border-color: #3F3FF2;
    -fx-background-radius: 5;
}

.text-field:focused .text {
    -fx-text-fill: #3F3FF2;
}

.text-field .text {
    -fx-text-fill: #E6E9F0;
}

.text-field:empty .text {
    -fx-text-fill: #E6E9F0;
}

.button {
    -fx-cursor: hand;
    -fx-background-color: #3F4CF3;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 10;
    -fx-font-size: 14;
    /*-fx-padding: 15 auto;*/
}

.button:hover {
    -fx-background-color: #3841DC;
}

.clickBtn {
    -fx-font-weight: bold;
}

.clickBtn:pressed {
    -fx-border-width: 4;
    -fx-border-color: #8EB9ED;
    -fx-border-radius: 11;
    -fx-border-insets: -4;

}
.button:focused {-fx-box-border: transparent;
    -fx-faint-focus-color: transparent;
}

.combo-box {
    -fx-border-width: 1;
    -fx-border-color: #E6E9F0;
    -fx-border-radius: 5;
    -fx-font-size: 16;
    -fx-text-fill: #7F8FA4;
    -fx-background-color: #ffffff;
}