/*
    Blue: #3F4CF3
    d-blue: #3941dc
    f-blue: #4054F5
    Gray: #f8f8fb
    Green: #32C9B6

    Dark Icon: #57535b

    *TEXT:
    Dark: #2C343A
    Gray: #7F8FA4
    l-gray: #E6E9F0

    text-f-blue: #7d97f4

 */


@font-face {
    src: url('../fonts/Ubuntu-Bold.ttf');
}

@font-face {
    src: url('../fonts/Ubuntu-Light.ttf');
}

@font-face {
    src: url('../fonts/Ubuntu-Regular.ttf');
}

* {

    -fx-label-padding: 0;
    -fx-text-overrun: clip;
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-text-fill: #2C343A;
    -fx-focus-color: transparent;
    -fx-box-border: transparent;
    -fx-faint-focus-color: transparent;
}

.root {
    -fx-font-weight: normal;
}

.sub-heading {
    -fx-font-size: 28;
    -fx-font-weight: lighter;
    -fx-text-fill: #7F8FA4;
}

.scroll-pane, .scroll-pane:focused, .button:focused, .text-field:focused, .button:pressed {
    -fx-box-border: transparent;
    -fx-faint-focus-color: transparent;
}

.button:pressed {
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-effect: none;
}

.content, .content-blue {
    -fx-background-color: #ffffff;
    -fx-text-fill: #7F8FA4;
    -fx-background-radius: 15;
    -fx-padding: 25;
}

.content-blue {
    -fx-background-color: #3F3FF2;
    -fx-text-fill: #ffffff;
}

.content-blue .title {
    -fx-text-fill: #ffffff;

}

.content-blue .sub-heading {
    -fx-text-fill: #7d97f4;
}


#dialogContent .text-area, #dialogContent .text-area > * {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}


#dialogContent .text-area:disabled {
    -fx-opacity: 1;
}
#dialogContent .text-area:disabled .text-field {
    -fx-opacity: 0;
}


.text-field, .text-area:disabled {
    -fx-background-color: #f8f8fb;
    -fx-text-fill: #2C343A;
    -fx-prompt-text-fill: #7F8FA4;
    -fx-padding: 0 10;
    -fx-border-color: transparent;
    -fx-min-height: 45;
    -fx-opacity: 1;
}

.showing-fields .dialog-in-page .text-field, .showing-fields .dialog-in-page .text-area {
    -fx-background-color: #ffffff;
    -fx-text-fill: #7F8FA4;
    -fx-opacity: 1;
}

.text-field:disabled  {
    -fx-background-color: #E6E9F0;
    -fx-text-fill: #7F8FA4;
}

#dialogContent .showing-fields .text-field {
    -fx-background-color: #f8f8fb;
}

#dialogContent .blue .text-field:disabled {
    -fx-opacity: 1;
    -fx-background-color: #3941dc;
    -fx-prompt-text-fill: #3F4CF3;
    -fx-text-fill: #7d97f4;
}


#dialogContent .blue .check-box {
    -fx-text-fill: #7d97f4;
    -fx-font-family: 'Ubuntu', sans-serif;
    -fx-font-size: 14;
}

.blue .check-box > .box {
    -fx-background-color: #ffffff;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    /*-fx-border-radius: 0;*/
    -fx-background-radius: 3;
    -fx-pref-width: 20;
    -fx-pref-height: 20;
}

.blue .check-box:selected .mark {
    -fx-background-color: #3F3FF2;
}


.blue .check-box .label {
    -fx-padding: 0 0 0 10;
}

.blue .check-box:selected .box {

    -fx-background-color: #ffffff;
}

.blue .text-field {
    -fx-border-color: transparent;
}

.label.text {
    -fx-text-fill: #7F8FA4;
    -fx-font-size: 14;
}

#loginContainer .text-field, .date-picker, .text-area {
    -fx-border-width: 1;
    -fx-border-color: #E6E9F0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 16;
    -fx-text-fill: #2C343A;
    -fx-background-color: #ffffff;
    -fx-prompt-text-fill: #7F8FA4;
}

#loginContainer .text-field {

}

.date-picker:editable > .arrow-button > * {
    -fx-opacity: 0;
}

.date-picker-popup .label {
    -fx-font-size: 0.9em;
}

.date-picker-popup {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(134, 139, 142, 0.1), 10, 0.2, 0, 5);

}

.date-picker-popup > .month-year-pane {
    -fx-padding: 0.588883em 0.5em 0.666667em 0.5em;
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
}

.date-picker > .arrow-button {
    -fx-background-size: 60% 60%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.date-picker .button {
    -fx-background-color: #E6E9F0;
}

.text-field:focused, .combo-box:focused {
    -fx-border-color: #3F3FF2;
    -fx-background-radius: 5;
}

.text-field:focused .text {
    -fx-text-fill: #3F3FF2;
}

.text-field .text {
    -fx-text-fill: #E6E9F0;
}

.text-field, .combo-box {
    -fx-min-height: 40;
}



.image-view {
    -fx-background-color: #ffffff;
}

.button {
    -fx-cursor: hand;
    -fx-background-color: #3F4CF3;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 10;
    -fx-font-size: 14;
    /*-fx-padding: 15 auto;*/
    -fx-font-weight: bold;

}

.button .glyph-icon {
    -fx-font-family: 'jdFontAwesome';
    -fx-font-size: 14;
    -fx-text-fill: #ffffff;
    -fx-fill: #ffffff;

}

.button:hover {
    -fx-background-color: #3841DC;
    -fx-text-fill: #ffffff;

}

#content .button:pressed, #loginContainer .button:pressed, #dialogContent .button:pressed {
    -fx-border-width: 4;
    -fx-border-color: #8EB9ED;
    -fx-border-radius: 12;
    -fx-border-insets: -4;
    -fx-background-insets: 0;
}

.gray-button {
    -fx-background-color: #E6E9F0;
    -fx-text-fill: #7F8FA4;
}

.gray-button:hover {
    -fx-background-color: #dde0e6;
    -fx-text-fill: #7F8FA4;
}

.gray-button.big-button:hover, .gray-button.cell-schedule:hover {
    -fx-background-color: #3841DC;
    -fx-text-fill: #ffffff;
}

.gray-button .glyph-icon {
    -fx-text-fill: #7F8FA4;
    -fx-fill: #7F8FA4;
}


#content .gray-button:pressed, #loginContainer .gray-button:pressed, #dialogContent .gray-button:pressed {
    -fx-border-color: #eff2f9;
}

#content .gray-button.big-button:pressed, #content .gray-button.cell-schedule:pressed {
    -fx-border-color: #8EB9ED;
}

.big-button {
    -fx-pref-width: 100;
    -fx-pref-height: 60;
    -fx-min-height: 60;
    -fx-font-size: 28;
    -fx-font-weight: lighter;
}

.function-button {
    -fx-background-color: #32C9B6;
}

.function-button:hover {
    -fx-background-color: #30beab;
}

.delete-button {
    -fx-background-color: #faeaeb;
    -fx-text-fill: #db193e;
    -fx-max-width: 30;
    -fx-max-height: 30;
    -fx-min-width: 30;
    -fx-min-height: 30;
    -fx-background-radius: 7;
    -fx-cursor: hand;
    -fx-padding: 0;
}

.delete-button:hover {
    -fx-background-color: #db193e;
    -fx-text-fill: #ffffff;
}
.delete-button > .glyph-icon {
    -fx-font-size: 14;
    -fx-text-fill: #db193e;
    -fx-fill: #db193e;
}

.delete-button:hover > .glyph-icon {
    -fx-text-fill: #ffffff;
    -fx-fill: #ffffff;
}

#content .delete-button:pressed, #loginContainer .delete-button:pressed, #dialogContent .delete-button:pressed {
    -fx-border-color: rgba(250, 181, 195, 0.67);
    -fx-border-radius: 9;
}

#content .function-button:pressed, #loginContainer .function-button:pressed, #dialogContent .function-button:pressed {
    /*-fx-border-color: #8EB9ED;*/
    -fx-border-color: #aee7d7;
}

.button:focused {
    -fx-box-border: transparent;
    -fx-faint-focus-color: transparent;
}


.title {
    -fx-font-size: 36;
    -fx-font-weight: lighter;
}

.title-h2 {
    -fx-font-size: 28;
    -fx-text-fill: #2C343A;
    -fx-font-weight: lighter;
}

.table-view {
    -fx-background-radius: 15;
}



.combo-box .list-cell
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    /*-fx-min-height: 39;*/
}


.combo-box-popup {
    -fx-background-color: white;
}

.combo-box-popup .list-view
{
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-padding: 5;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
    -fx-effect: dropshadow(gaussian, rgba(134, 139, 142, 0.1), 10, 0.2, 0, 5);
}

#dialogContent .combo-box, #dialogContent .combo-box > * {
    -fx-min-height: 45;
}

/*.content:hover {*/
    /*-fx-effect: dropshadow(gaussian, rgba(134, 139, 142, 0.05), 35, 0, 0, 25);*/
/*}*/

/*
.combo-box .text-field {
    -fx-text-fill: #2C343A;
    -fx-prompt-text-fill: grayr;
}
*/


#dialogContent .combo-box .text-field {
    -fx-prompt-text-fill: rgba(255, 0, 0, 0.5) ;
    -fx-text-fill: red;
}

#dialogContent .combo-box .text-field:focused {
    -fx-prompt-text-fill: transparent ;
}


.combo-box-popup .list-view .list-cell
{
    -fx-padding: 10 15;
    -fx-background-color: transparent;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background-radius: 5;
    -fx-background-color: #3F3FF2;
    -fx-text-fill: #ffffff;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #E6E9F0;
    -fx-background-radius: 5;
    -fx-text-fill: -fx-text-inner-color;
    -fx-cursor: hand;
}

.combo-box .cell:selected {
    -fx-text-fill: #7F8FA4;
}

.combo-box, .text-field {
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 16;
    -fx-text-fill: #2C343A;
    -fx-background-color: #f8f8fb;
    -fx-prompt-text-fill: #7F8FA4;
    -fx-min-height: 45;
}


#dialogContent .showing-fields .area-disable {
    -fx-background-color: red;
}

.showing-fields .sub-heading {
    -fx-font-size: 22;
}

.tag {
    -fx-background-color: #3941dc;
    -fx-text-fill: #7d97f4;
    -fx-font-size: 16;
    -fx-padding: 10 15;
    -fx-background-radius: 8;
}

.cell-schedule {
    -fx-max-height: Infinity;
    -fx-max-width: Infinity
}

.cell-time {
    -fx-font-size: 13;
    -fx-text-fill: #7F8FA4;
}

.cell-day {
    -fx-font-size: 16;
    -fx-text-fill: #7F8FA4;
    /*Gray: #7F8FA4*/
    /*l-gray: #E6E9F0*/
}

.small-subject {
    -fx-font-size: 18;
    -fx-font-weight: lighter;
    -fx-text-fill: #7F8FA4;
}


.statistic-box {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-font-size: 14;
    -fx-padding: 20 10;
    -fx-text-fill: #7f8995;

}

.statistic-box:hover {
    -fx-background-color: #3F4CF3;
}

.statistic-box .label {
    -fx-text-fill: #7f8995;
}

.statistic-box .percent {
    -fx-font-weight: bold;

}

.statistic-box .glyph-icon {
    -fx-font-family: 'jdFontAwesome';
    -fx-font-size: 28;
    -fx-text-fill: #57535b;
    -fx-fill: #57535b;

}

.error-field {
    -fx-border-color: #db193e;
}

.statistic-box:hover .label, .statistic-box:hover .glyph-icon {
    -fx-text-fill: #ffffff;
    -fx-fill: #ffffff;
}