AnchorPane {
    -fx-background-color: #3F4CF3;
}

* {
    -fx-text-fill: #7A93FA;
    -fx-font-size: 16;
    /*-fx-font-family: "Franklin Gothic Book";*/
    -fx-text-alignment: center;
    -fx-box-border: transparent;
}

.button  {
    -fx-text-fill: #7A93FA;
}

.button:pressed {
    -fx-border-width: 0;
}

#userPhoto {
    -fx-background-radius: 40;
    -fx-border-radius: 40;
}

VBox {

    -fx-background-color: #ffffff;

}

.button {
    -fx-background-color: transparent;
}