AnchorPane {
    -fx-background-color: #3F4CF3;
}

* {
    -fx-text-fill: #7A93FA;
    -fx-font-size: 16;
    /*-fx-font-family: "Franklin Gothic Book";*/
    -fx-text-alignment: center;
    -fx-box-border: transparent;
}

.button  {
    -fx-text-fill: #7A93FA;
    -fx-max-height: 30;
    -fx-background-radius: 5;
}



#userPhotoCircle {
    -fx-padding: 0 5 0 0;
}

.button:pressed {
    -fx-border-width: 0;
}

#close {
    -fx-background-color: #565DF0;
    -fx-font-weight: normal;
    -fx-text-fill: #ffffff;
    -fx-max-height: 40;
}

#signOut {
    -fx-font-size: 3;
    -fx-border-width: 1;
    -fx-border-color: #565DF0;
    -fx-border-radius: 5;
    -fx-border-insets: -1;
}


.button:hover, #close:hover {
    -fx-background-color: #ffffff;
    -fx-border-color: transparent;
    -fx-text-fill: #3F4CF3;
}

/*#signOut:hover {
    -fx-background-color: #565DF0;

}*/

#userPhoto {
    -fx-background-radius: 40;
    -fx-border-radius: 40;
}

VBox {

    -fx-background-color: #ffffff;

}

.button {
    -fx-background-color: transparent;
}